@media only screen and (min-width: 60em){

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 5em;
    text-align: center;
    color: black;
    margin-bottom: 0;
    margin-top: 40px;
    }
    
h3 {
    font-family: 'Alegreya', serif;
    font-size: 2em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    }
    
nav {
    font-family: 'Alegreya', serif;
    font-size: 12pt;
    }

nav ul li {
    float: left;
      }
          
li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
        }
          
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    }
    
.disappear {
    display: inline;
    }
    
.navigation li:first-child { display: none;	}
.navigation li { display: flex; margin-right: 1rem; margin-left: 1rem;}	
.navigation { 
    list-style-type: none;
    margin: 0;
    padding-right: 25%;
    padding-left: 25%;
    overflow: hidden;
    background-color: #333;
    flex-direction: row;
}
    



/* Wife and Groom Photo, Tag Line, Reserve button    */

button {
    font-size: 13pt;
    font-family: 'Roboto', sans-serif;
    margin-left: 0;
    }

.main-heading {
    text-align: left;
    font-size: 30pt;
    margin-left: 0;
        }
        
.main-text {
    text-align: left;
    margin-right: 6em;
    font-size: 15pt;
    margin-left: 0;
        }

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 5px;
        }
/* ---- end ----*/


/* Featurette and Ogden Temple Image */

.temple-heading {
    font-size: 45pt;
}

.main-ogden {
    font-size: 18pt;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 1px;
}

.oden-info {
    margin-left: 3em;
    margin-top: 1.5em;
    text-align: right;
    margin-right: 0;
    font-size: 14pt;
}



.norm {box-shadow: 0 0 20px #333;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

figcaption {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    margin: 0.50rem;
    margin-bottom: 10px;
}

/* ---- end ---- */

section div {
    margin-left: 3.5em;
    margin-top: 5em;
}


aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}





.footer-divides {
    margin-left: 7em;
    margin-top: 2em;
    color: white;
}

div#map {
    width:400px;
    height:200px;
    margin-bottom: 1em;
    margin-left: 2.5em;
}


main{
    max-width:100%;
    margin:0 auto;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: left;
}

  figcaption {
      display: block;
  }

.help{
    font-size: 12pt;
    color: white;
    margin-left: 2.5em;
    margin-top: 3em;
}

.pak {
    font-family: 'Great Vibes', cursive;
    font-size: 30pt;
    color: #f2f2f2;
    margin-bottom: 0;
    margin-top: 2px;
}



.container {
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
	max-width: 66rem;
}

}