@media only screen and (min-width: 45em) {

    /* Wife and Groom Photo, Tag Line, Reserve button    */

    button {
        font-size: 13pt;
        font-family: 'Roboto', sans-serif;
        margin-left: 1em;
        }

    .main-heading {
        text-align: left;
        font-size: 20pt;
        margin-left: 0.5em;
            }

    .main-text {
        text-align: left;
        margin-right: 6em;
        font-size: 12pt;
        margin-left: 1em;
            }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    section img {
        box-shadow: none;
        
    }
    .oden-info {
        font-family: 'Roboto', sans-serif;
        font-size: 11pt;
        margin-left: 2em;
        margin-top: 1em;
        text-align: right;
    }

    /* ---- end ----*/

/* Featurette and Ogden Temple Image */

    aside {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .norm {box-shadow: 0 0 20px #333;
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 40px;
        margin-right: 40px;
    }

    .ogden-image {
        width: auto; height: auto; margin: .5rem;
    }

    figcaption {
        font-family: 'Roboto', sans-serif;
        font-size: 10pt;
        margin-right: 10pt;
        margin-left: 10pt;
        margin-bottom: 5pt;
    }
    
/*---- end ---- */

.footer-divides {
    margin-left: 10em;
    margin-top: 2.5em;
    color: white;
}

/* Temple Page */
.akona {
    padding-top: 0;
    padding-left: 0;
}


.main-heading-temple {
    font-family: 'Alegreya', serif;
    font-size: 20pt;
    margin-bottom: 1px;
    margin-left: 0;
    text-align: center;
    margin-top: 1em;
        }

figure {
    padding-bottom: 10px;
    width: 296px;
  }

.effect { width: 280px; height: auto; margin: .5rem;}

.ewan:hover {box-shadow: 0 0 10px #333;}
/* rounded corners - boxmodel */

.choices {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr ;
    grid-template-rows: auto;
    padding: 0px;
    justify-items: center;
}

.persona2 {
    padding-right: 2em;
    padding-left: 3em;
    padding-bottom: 2em;
    padding-top: 2em;
    background-color: blanchedalmond;
    margin-bottom: 35em;
}

fieldset {
    padding: 15px;
    line-height: 30px;
    display: inline-block;
    min-width: 42rem;
}
}