@media only screen and (min-width: 45em){

    ul {
        list-style-type: none;
        margin: 0;
        padding-right: 25%;
        padding-left: 25%;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: #111;
      }

      .disappear {
        display: inline;
    }

.navigation li:first-child { display: none;	}
.navigation li { display: inline-block; margin-right: 1rem;}	
.navigation li a { color:white;}

nav {
	max-width: 67rem;
	margin: 1rem auto;
	background-color: #000;
}

.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.navigation li { display: none; }
.navigation li:first-child { display: block; }
.navigation li a { display: block;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: 1.25rem;
}
.navigation li a:hover {
	background-color: rgba(200, 200, 200, 1);
	color: rgba(0, 0, 0, 1);
}
.responsive li { display: block; }

.container {
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
	max-width: 66rem;
}

.container > section {
	background: #ddd;
	padding: .5rem;
	border: 1px solid #bbb;
	margin-right: 2px;
	overflow: auto;
	/* max-height: 100px; */
}

.container > section:nth-child(5) {
	background: #bbeedd;
}

.container > section img {
	width: 100%;
	height: auto;
}

figure {margin: 0;}
figcaption {font-size: .75rem;}