

header {
	margin: 10px auto;
	background-color: #76BED0;
	border: 1px solid #bbb;
	box-shadow: 0 0 30px #777;
    text-align: center;
}

nav {
    font-family: Arial;
    color: white;
    background-color: #000;
}

* { margin: 0; padding: 0;}


.navigation { 
    list-style: none;
    text-align: center; }
.navigation li:first-child { display: block;}
.navigation li { display: none;}
.navigation a {	display: block;	color: #fff; padding: .75rem;	text-align: center;	text-decoration: none;}
.navigation a:hover {	color: #000; background-color: #fff; font-weight: 700;	}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
	.responsive li { display: block; }

main{
    text-align: center;
}

#logo {
    width: 75px;
    position: absolute;
    right: 850px;
    top: 10px;
}

#first-div {
    line-height: 1px;
    margin-bottom: 30px;
    padding-top: 1em;
}

h1 {
    font-family: 'Slabo 27px', serif;
    padding: .5rem;
}

h2 {
    text-align: center; font-family: 'Amatic SC', cursive;
}
p {
    font-family: 'PT Sans Narrow', sans-serif;
}

body {
	background-color: #bbb;
}


header img, .headings {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}





main {max-width:820px;margin:0 auto;}
h2 {font-size:2rem;text-shadow:3px 3px 5px #777;}
body {background-color: white}



.stats {
    position: absolute;
    top: 25px;
    right: 500px;
    background: radial-gradient(ellipse at top, #c6e4eb, transparent),
        radial-gradient(ellipse at bottom, #333, transparent);
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #fff;

}
table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
table {
    width:60%;
    margin-left:auto; 
    margin-right:auto;
}
th, td {
    padding: 5px;
    text-align: center;    
      }

td {
    padding-top: 20px;
}

th {
    background-color: #333;
    color: white;
}

#hiking {
    float: right;
    padding-left: 2em;
    position: relative;
    padding-bottom: 2em;
}

#article{
    text-align: left;
    background-color: #c6e4eb;
    padding: 15px;
}

footer {
    max-width:820px;margin:0 auto;
    
    
}

aside {
    background-color:#333;
}
#anes {
    color: white;
    text-align: left;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}


footer {
    font-size: 9pt;
    text-align: center;
    background-color: #76BED0;
    padding-top:0.5em;
    padding-bottom: 0.2em;
    color: #333;
}

.disappear {
    display: none;
}

main picture.bwiset {
    width: 100%
}

.herodiv {margin: 10px auto; position: relative;}



div#map {
    width:320px;
    height:150px;
    margin-left: 3em;
}